snippet plug
Plug '${1}'
endsnippet

snippet region
"-----------------------------------------------------------------------------}}}
"${1}                                                                      {{{ 
"--------------------------------------------------------------------------------
${2}
endsnippet

snippet function
function! ${1}(${2})
	${3}
endfunction
endsnippet

snippet utils
function! utils#${1}(${2})
	${3}
endfunction
endsnippet
