[user]
	name = David 
	email = davidsu@wix.com
[core]
	excludesfile = /Users/davidsu/.gitignore_global
	autocrlf = false
#[diff]
#    tool = webstorm
#[difftool "webstorm"]
#    cmd = /Applications/WebStorm10.app/Contents/MacOS/webstorm diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    d = difftool
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[push]
	default = simple
[help]
	autocorrect = 15
[color]
	diff = true
[color "diff"]
	changed = cyan
	modified = cyan
	meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
