snippet plug
	Plug '${1}'
snippet region
	"-----------------------------------------------------------------------------}}}
	"${1}                                                                      {{{ 
	"--------------------------------------------------------------------------------
	${2}
snippet function
	function! ${1}(${2})
		${3}
	endfunction
snippet utils
	function! utils#${1}(${2})
		${3}
	endfunction
