"*":
  "better-git-blame":
    searchInLayerEnabled: false
  core:
    disabledPackages: [
      "autocomplete-snippets"
      "autoflow"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-java"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sql"
      "language-toml"
      "language-yaml"
      "markdown-preview"
      "metrics"
      "snippets"
      "whitespace"
      "wrap-guide"
      "archive-view"
      "bookmarks"
      "encoding-selector"
      "exception-reporting"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 15
    invisibles: {}
  "exception-reporting":
    userId: "f01657e9-be2b-90a9-92ef-a47e4a909721"
  welcome:
    showOnStartup: false
